<footer>
    <div class="f-info" style="width:100%">
        <div class="f-info-socials">
            <a href="https://github.com/Mokshith2c" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/a-mokshith-aa9098383/" target="_blank"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://www.instagram.com/mokshith_14/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="f-info-brand">
            <div>&copy; <%= new Date().getFullYear() %> Wanderlust</div>
            <div class="f-info-made">Made by <i class="fa-solid fa-code"></i> Mokshith</div>
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>